# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://nextjs:auth123@localhost:5432/auth_tutorial?schema=public"
AUTH_SECRET="34972161bad42d28f3bc7e1bf64c55bca97a22732d41e126edc1a51c1ed9012b"